<html>
    <head>
        <title>게시판</title>
        
    </head>
    <body>
        <h1>게시판 입니다</h1>
        <a href="/posts/new">글쓰가기</a>
        <% @posts.each do |p| %>
        <%= p.id%>
        <%= p.title%>
        <%= p.body%>
        <%= p.created_at%>
        <% end %>
    </body>
    
</html>